@font-face {
    font-family: "Geforce";
    src: url("../assets/fonts/GeForce-Bold-Alt.ttf");
  }
  
body {
  background-color: #212121;
}
  
  .dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 7px;
    color: #efefef;
    justify-content: center;
    align-items: center;
  }

.graph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;
    align-items: left;
}

.dropdown {
    width: 165px;
}

.menu {
    width: 100%;
}

.selections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 10px;
    width: 100%;
}

.graph {
  width: 1000px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-message {
  font-size: 25px;
  font-family:"Titillium";
  color: #efefef;
  text-align: center;
  padding: 25px;
  border: 5px solid #123b7a;
  background-color: #1851a6;
  border-radius: 14px;
}

.title {
  font-size: 30px;
  font-family:"Titillium";
  color: #efefef;
  text-align: center;
  padding: 25px;
  border: 5px solid #123b7a;
  border-radius: 14px;
}